html{

	box-sizing: border-box;
	height: 100%;

}

body{

	height: 100%;

}

*{

	box-sizing: inherit;
	padding: 0;
	margin: 0;

}

#fulluy1{

	width: 50%;
	height: 100%;
	border: solid blue 1px;
	float: left;

}

#fulluy2{

	width: 47.5%;
	height: 100%;
	border: solid blue 1px;
	float: left;

}

#T1to3{

	text-align: center;
	margin-top: 2.5%;
	margin-left: 2.5%;
	width: 30%;
	height: 30%;
	border: solid black 1px;
	float: left;
	position: relative;

}

p{

	position: relative;
	top: 30%;
	font-size: 3em;

}

#T4{

	clear: left;
	text-align: center;
	margin-top: 2.5%;
	margin-left: 2.5%;
	width: 30%;
	height: 30%;
	border: solid black 1px;
	float: left;
	position: relative;

}

#T5{

	text-align: center;
	margin-top: 2.5%;
	margin-left: 2.5%;
	width: 30%;
	height: 30%;
	border: solid black 1px;
	float: left;
	visibility: hidden;
	position: relative;

}
